@media (max-width: 767px)
    section
        padding: 4rem 0
    .main-photo
        background: none

    .sectionimages
        &-item
            margin-bottom: 1rem

    .content
        &-text
            margin: 0

    .post
        &-info
            padding: 2rem
        &-meta
            align-items: center

    .login
        &-bottom
            .delimiter
                display: block
                border: none
                border-bottom: 1px solid $shade-color
                margin: .5rem 0
            a
                display: block
        &-register
            text-align: center

    .navigation
        margin-bottom: 4rem